@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


:root{
    --vertical-space: 2rem;
    --horizontal-space: 3rem;

    --light-color: #db2b39;
    --body-color: #00120b;
    --heading-color: #593f62;
    --contrast-color: #1d84B5;
}

body{
    font-size: 18px;
    line-height: 1.5em;
    font-family: 'Titillium Web', sans-serif;

    background-image: repeating-linear-gradient(112.5deg, hsla(19,0%,93%,0.2) 0px, hsla(19,0%,93%,0.2) 0px,transparent 0px, transparent 1px,hsla(19,0%,93%,0.2) 1px, hsla(19,0%,93%,0.2) 4px,transparent 4px, transparent 5px,hsla(19,0%,93%,0.2) 5px, hsla(19,0%,93%,0.2) 8px),repeating-linear-gradient(0deg, hsla(19,0%,93%,0.2) 0px, hsla(19,0%,93%,0.2) 0px,transparent 0px, transparent 1px,hsla(19,0%,93%,0.2) 1px, hsla(19,0%,93%,0.2) 4px,transparent 4px, transparent 5px,hsla(19,0%,93%,0.2) 5px, hsla(19,0%,93%,0.2) 8px),linear-gradient(135deg, rgb(238, 238, 238),rgb(121, 121, 121));}    
    

h1, h2, h3{
    line-height: 1.2em;
    font-family: 'Kalam', cursive;
    color: VAR(--heading-color);
}

a{
    color: var(--body-color);
    text-decoration-color: var(--contrast-color);
}

a:hover{
    color: var(--contrast-color);
    text-decoration-color: var(--heading-color);
}

p{
    max-width: 50em;
}

body{
    display: grid;
    grid-template-areas:"head head"
                        "nav nav"
                        "main main"
                        "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;
}
@media screen and (min-width: 25em){
    body{
        display: grid;
        grid-template-areas:"head head"
                            "nav main"
                            "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr auto;
    }
}


body > header{
    grid-area: head;
}

body > nav{
    grid-area: nav;
}

body > nav ul{
    list-style-type: none;
    padding: 0;
}

body > nav ul li{
    padding-right: 1rem;
}

body > main{
    grid-area: main;
}

body > footer{
    grid-area: foot;
}

header, footer{
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}

header h1, footer h1{
    margin: 0;
}

body > * {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}

body#portfolio ul#portfolioItems{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

body#portfolio ul#portfolioItems li img{
    max-width: 100%;
}

@media screen and (min-width: 25em){
    body#portfolio ul#portfolioItems li{
        flex-basis: 48%;
        padding-right: 2%;
    }
}



body#about img {height: 15em; };