@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


:root{
    --vertical-space: 2rem;
    --horizontal-space: 3rem;

    --light-color: #730771;
    --body-color: #00120b;
    --heading-color: #6c397d;
    --contrast-color: #2600ae;
}

body{
    font-size: 18px;
    line-height: 1.5em;
    font-family: 'Titillium Web', sans-serif;

    background-image: linear-gradient(149deg, rgba(85, 85, 85, 0.05) 0%, rgba(85, 85, 85, 0.05) 25%,rgba(11, 11, 11, 0.05) 25%, rgba(11, 11, 11, 0.05) 50%,rgba(182, 182, 182, 0.05) 50%, rgba(182, 182, 182, 0.05) 75%,rgba(28, 28, 28, 0.05) 75%, rgba(28, 28, 28, 0.05) 100%),linear-gradient(232deg, rgba(145, 145, 145, 0.05) 0%, rgba(145, 145, 145, 0.05) 25%,rgba(165, 165, 165, 0.05) 25%, rgba(165, 165, 165, 0.05) 50%,rgba(84, 84, 84, 0.05) 50%, rgba(84, 84, 84, 0.05) 75%,rgba(131, 131, 131, 0.05) 75%, rgba(131, 131, 131, 0.05) 100%),linear-gradient(321deg, rgba(254, 254, 254, 0.05) 0%, rgba(254, 254, 254, 0.05) 25%,rgba(249, 249, 249, 0.05) 25%, rgba(249, 249, 249, 0.05) 50%,rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%,rgba(104, 104, 104, 0.05) 75%, rgba(104, 104, 104, 0.05) 100%),linear-gradient(90deg, rgb(194,227,255),rgb(255,192,192));
}

img{
    float: right;
    padding-right: 2rem;

}

h1, h2, h3{
    line-height: 1.2em;
    font-family: 'Kalam', cursive;
    color: var(--heading-color);
}

h3{
    color: var(--contrast-color)
}

a{
    color: var(--body-color);
    text-decoration-color: var(--light-color);
}

a:hover{
    color: var(--contrast-color);
    text-decoration-color: var(--heading-color);
}

p{
    max-width: 50em;
}

body{
    display: grid;
    grid-template-areas:"head head"
                        "nav nav"
                        "main main"
                        "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto;
}
@media screen and (min-width: 25em){
    body{
        display: grid;
        grid-template-areas:"head head"
                            "nav main"
                            "foot foot";
    grid-template-columns: 1fr 8fr;
    grid-template-rows: auto 1fr auto;
    }
}


body > header{
    grid-area: head;
    border-bottom: 2px solid var(--light-color);
}

body > nav{
    grid-area: nav;
    border-right: 2px solid var(--light-color);
}

body > nav ul{
    list-style-type: none;
    padding: 0;
}

body > nav ul li{
    padding-right: 1rem;
}

body > main{
    padding: 2rem;
    grid-area: main;
    min-height: 40rem;
}

body > footer{
    border-top: 2px solid var(--light-color);
    grid-area: foot;
}

header, footer{
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}

header h1, footer h1{
    margin: 0;
}

body > * {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}

body#portfolio ul#portfolioItems{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

body#portfolio ul#portfolioItems li img{
    max-width: 100%;
}

@media screen and (min-width: 25em){
    body#portfolio ul#portfolioItems li{
        flex-basis: 48%;
        padding-right: 2%;
    }
}

#topButton{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    outline: none;
    background-color: var(--light-color);
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    color: azure;
    
}

#topButton:hover{
    background-color: var(--contrast-color);
}



body#about img {height: 15em; };